html{
margin-top:1em;
font-size:100%!important;
}
body{
font-size:67%!important;
margin: auto auto;
background-color:silver;
min-width:58em;
}

.section{
clear:both;
min-height:1.8em!important;

}

#pageContainer{
margin-top:1em;
}

#searchHeaderRow{
height:5em;

}

#mainDataRow{
font-size:1em;
background-color:lightgray;
}

#searchBarCol{
font-size:1em;
}

#searchBarClick{

}

#searchBarInput{

}

#appNameCol{
}

#mainDataCol{

}

#meterData{
height:auto;
margin-top:1em;
}

.watchBox{
height:6.6em;
}

#navTabsTitle{
margin-left:25%;
width:75%;
}

#navTabs{
height:20em;
}
#watchData{
}

#leftDataCol{

}

#rightDataCol{
height:47.5em;
margin-top:1em;
}