html{
margin-top:1em;
font-size:100%!important;
}
body{
font-size:67%!important;
margin: auto auto;
}



#pageContainer{
background-color:purple;
height:40em;
margin-top:1em;
}

#searchHeaderRow{
height:5em;
background-color:blue;
}

#mainDataRow{
font-size:1em;
}

#searchBarCol{
font-size:1em;
}

#searchBarClick{

}

#searchBarInput{

}

#appNameCol{
background-color:pink;
}

#mainDataCol{

}

#meterData{
background-color:yellow;
height:22em;
}

.watchBox{
height:8em;
background-color:pink;
}

#watchData{

}

#leftDataCol{
background-color:gray;
}

#rightDataCol{
background-color:purple;
}