body{
font-size:97%;
}

#searchHeaderRow{
font-size:1em;
background-color:red;
}

#mainDataRow{
font-size:1em;
background-color:purple;
}

#searchBarCol{
font-size:1em;
background-color:orange;

}

#appNameCol{
font-size:1em;
background-color:pink;

}

#mainDataCol{
background-color:silver;

}

#meterData{
background-color:yellow;

}
#watchData{
background-color:green;

}

#leftDataCol{

background-color:gray;
}

#rightDataCol{

background-color:purple;
}